/* Style CSS */

body  {
    zoom: 1.8;
}

p {
    text-align: center;
    font-size: xx-large;

}

.left { 
    float: left;
}

.right { 
    float: right;
}

#smile {
    position: relative;
    z-index: 0;
    background-color: yellow;
    border: 6px solid #222;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 50px auto;
    box-shadow: 2px 2px 1px #B8B8B8;
}

.eye {
    position: relative;
    width: 30px;
    height: 50px;
    border-radius: 100px;
    background: #222;
    margin-top: 26px;
    margin-left: 33px;
}

.eye.right { 
    margin-left: 0; 
    margin-right: 33px; 
}

.pingo {
    position: relative;
    width: 13px;
    height: 15px;
    border-radius: 100px;
    background: white;
    margin-top: 25px;
    margin-left: 15px;
}

.mouth {
    border-bottom: 8px solid #222;
    height: 110px;
    width: 115px;
    margin: 0 auto;
    border-radius: 30%;
}